.mb-2{
    width: 600px;
}
.body1{
    background-image: url("https://images.squarespace-cdn.com/content/v1/609701bc21f2ee5734517421/1660617668146-GTN17JQN0WYMLSISNRJS/Maroon+Black+Smokey+Seamless+Cover+WM+1.jpg?format=1500w");
    padding: 10px;
}

.youtube{
    
    margin: auto;
    display: block;
    padding: 10px;
    width: 50%;
}
.cool{
    color: aliceblue;
}
.ol1{
    background-color: aliceblue;
    padding: 50px;
    margin: 10px;
    border-radius: 15px;
}

.darkcolor{
    background-color: rgb(75, 22, 22) !important;
}
.text-primary{
    color:rgb(103, 59, 59) !important;
}
a{
    color: rgb(103, 59, 59);
    text-decoration: none;
}
.header{
display: block;
margin: auto;
position: absolute;
right: 10px;
top: 10px;
background-color: aliceblue;
border-radius: 5px;
padding: 10px;
}

.footer{
    display: block;
    margin: auto;
    right: 50%;
    position: fixed;
    bottom: 0px;
    font-size: medium;
    background-color: rgba(240, 248, 255, 1);
    padding: 15px;
    border-radius: 100px;
    
}
.tableaucenter{
    display: flex !important;
    justify-content: center !important;
   
}
.cool{
    display: block;
    margin: auto;
    text-align: center;
}
.bradenimg{
    display: flex;
    justify-content: center;
}
h7{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}